$mainWidth: 1596px;

$colorHeaderReady: #ffffff;
$colorButton: #e3ac00;
$colorUnderline: #ff4e33;
$colorBackgroundMain: #21232e;
$colorBackgroundSecond: #3b3f50;
$colorText: #c0c3ce;

$gradientFooterBanner: linear-gradient(to right, $colorButton, #963150);

$borderRadiusMain: 10px;

$fontHeader: 'Source Sans Pro', sans-serif;
$fontMain: 'Fresca', sans-serif;

$imgBackgroundHeader: url(../img/m-h-night.jpg);