$mainWidth: 1596px;

$colorHeaderReady: #2c2f3c;
$colorButton: #699900;
$colorUnderline: #14a0c7;
$colorBackgroundMain: #fff;
$colorBackgroundSecond: #21232e;
$colorText: #c0c3ce;

$gradientFooterBanner: linear-gradient(to right, $colorButton, #2e5cd4);

$borderRadiusMain: 10px;

$fontHeader: 'Source Sans Pro', sans-serif;
$fontMain: 'Hind', sans-serif; 

$imgBackgroundHeader: url(../img/m-h-day.jpg);